#top{
		background-image: url("images/image.jpg");
		 background-size: 100% auto;
		 margin:  0 auto;
		 position: absolute;
		 top:0;
		 left: 0;
		 background-attachment: fixed;
		 background-repeat: no-repeat;
	height: 900px;
	width: 100%;


}
#logo{
	padding-top: 150px;
	width: 400px;
	height: 400px;
}
#branco{
	background: white; 
	width: 675px;
	height: 150px; 
	position: absolute; 
	top:87%;
	left: 28%;
	font-size: 30px;
	margin-top: 40px;  
}

#corpo{
	margin: 0 auto;
	position: absolute;;
	top:900px;
	left: 28%;
	width: 675px;
	height: 500px; 
	background: white;

}
#esquerda{
	width: 337px;

	float: left;
}

#esquerda>img{
	border-radius: 290px;
	width: 290px;
	height: 290px;

	/*margin:0 auto;
	margin-top: 100px;*/

}
#direito{
	background: white;
	width:337px;
	height: 100%;
	float: right;
	
}

body{
	

	height: 50px;
	width: 50%;
}
